:host{
  .feed-item{
    width: 100%;
    &-title{
    }
    &-user{
      color:#777;
    }
    &-url{
      color:rgb(5, 122, 168);
      text-decoration: underline;
    }
    &-left{
      flex-basis: 70%;
      padding-right: 20px
    }
    &-right{
      width: 30%;
    }
  }
}

