<section class="feeds-list">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-add-feed form-group">
          <form [formGroup]="feedForm" class="d-flex flex-column">
            <label>
              <span>User Name</span>
              <input type="text" name="user" [formControlName]="'user'" class="form-control"/>
            </label>
            <label>
              <span>Title</span>
              <input type="text" name="title" [formControlName]="'title'" class="form-control"/>
            </label>
            <label>
              <span>Feed URL</span>
              <input type="text" name="url" [formControlName]="'url'" class="form-control"/>
            </label>
          </form>
          <div class="buttons">
              <button class="btn btn-dark"
                (click)="onAdd()"
                type="submit"
                [disabled]="!feedForm.valid"
                [ngClass]="{
                  'btn-success': feedForm.valid,
                  'btn-dark': !feedForm.valid
                }">ADD</button>
              <button (click)="onFetch()" class="btn btn-primary">FETCH FEEDS</button>
              <button [style.visibility]="saveCheck ? 'visible' : 'hidden'" (click)="onSave()" class="btn btn-success">SAVE FEEDS</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="feed-item-wrap"
          *ngFor="let feed of feeds; let i = index;" >
          <div>
            <app-feed-item  (deleteFeed)="onDelete($event)" [index]="i" [feed]="feed"></app-feed-item>
          </div>
        </div>
        <h2 *ngIf="!feeds.length">You need to fetch or add feeds</h2>
      </div>
    </div>
  </div>
</section>
