/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
*{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#333;
}
html{
  font-size: 16px;
}
section{
  padding: 80px 0px;
}
.row{
  &:before, &:after{
    display: none;
  }
}
.btn{
  padding: 5px 15px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
a{
  &:hover,&:active,&:visited,&:focus{
    text-decoration: none;
  }
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: #dc3545 !important;
}
input{
  font-size: 14px;
}
